:root {
  --bg-color: black;
  --bg-color-2: #060;
  --fg-color: #0f0;
}
body {
  font-family: Manufab;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  background: var(--bg-color-2);
  color: var(--fg-color);
  header,
  footer,
  #bg {
    flex-grow: 0;
  }
  button#clear {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--fg-color);
    font-size: 18px;
    font-variation-settings: "wght" 300;
    background: none;
    border: 2px solid var(--fg-color);
    height: 30px;
    width: 30px;
  }
  header {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50px;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: row;
    #logo,
    #clear {
      height: 30px;
      width: 30px;
    }
    h1 {
      display: flex;
      align-items: center;
      line-height: 30px;
      height: 40px;
      font-variation-settings: "wght" 700;
      margin: 0 10px;
    }
  }
  main {
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;
    > :first-child {
      background-color: var(--fg-color);
      color: var(--bg-color);
      &.error {
        background-color: #a04;
      }
    }
    section {
      padding: 10px;
      display: flex;
      border-top: 2px solid var(--bg-color);
      justify-content: center;
      position: relative;
      &.error {
        background-color: #f06;
      }
      .home .tale::after {
        content: "=";
        font-size: 15px;
        font-variation-settings: "wght" 200;
        position: absolute;
        right: -30px;
        top: 10px;
      }
      .home {
        flex-shrink: 1;
        flex-grow: 1;
      }
      .away {
        flex-shrink: 0;
        flex-grow: 0;
      }
      .home,
      .away {
        width: 50%;
        display: flex;
        position: relative;
        max-width: 300px;
        flex-direction: column;
        .tale,
        .code {
          text-align: right;
        }
        .tale {
          font-size: 27px;
        }
      }
    }
  }
  footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    position: relative;
    .bg {
      background: #f003;
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 0px;
      left: 0px;
      &::before {
        content: "";
        background: var(--bg-color);
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
      }
    }
    form {
      display: flex;
      position: relative;
      margin: 20px auto;
      width: 100%;
      max-width: 600px;
      flex-direction: column;
      section:first-child {
        display: flex;
        flex-direction: column;
        select {
          -moz-appearance: none;
          -webkit-appearance: none;
          font-family: Theia;
          color: var(--fg-color);
          font-size: 21px;
          font-weight: 300;
          background: none;
          border: 2px solid var(--fg-color);
          border-radius: 0;
          transition-property: outline;
          transition-duration: 200ms;
          padding: 5px;
          position: relative;
          &::before {
            content: "v";
            font-family: Icon;
            display: block;
            position: absolute;
            right: 10px;
            top: 10px;
          }
          ~ select {
            margin-top: 20px;
          }
          &:focus-within {
            outline: 1px solid var(--fg-color);
            background: #020;
            font-weight: 400;
          }
        }
      }
      section:last-child {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        input {
          width: 100%;
          flex-shrink: 1;
          font-family: Manufab;
          text-align: end;
          color: var(--fg-color);
          font-size: 40px;
          font-variation-settings: "wght" 600;
          background: none;
          border: none;
          border-bottom: 2px solid var(--fg-color);
          border-radius: 0;
          outline: none;
          margin-right: 20px;
        }
        button[type="submit"] {
          flex-shrink: 0;
          font-size: 20px;
          font-variation-settings: "wght" 300;
          background: var(--fg-color);
          color: var(--bg-color);
          border: none;
          height: 54px;
          width: 54px;
        }
      }
    }
  }
}

button {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Icon;
  border-radius: 0;
  border: none;
  outline: none;
  &:hover,
  &:focus {
    transform: scale(1.01);
  }
  &:active {
    transition-duration: 10ms;
    transform: scale(0.99);
  }
}

/* Fucking dumbass Chrome (29+) that doesn't render variable fonts right */

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  body header h1 {
    padding-bottom: 5px;
  }
}
